<p>Exito ya compraste</p>
<br>
<ul>
    <li>payment_type: {{payment_type}}</li>
    <li>external_reference: {{external_reference}}</li>
    <li>payment_id/collection_id: {{collection_id}}</li>
</ul>

<script src="https://www.mercadopago.com/v2/security.js" view="success"></script>